<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GKAPI-图像记录</title>
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/picRecord.css">
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/picRecord.js"></script>
</head>
<body>
    <div class="logo">
        <p>GKAPI 后台管理系统</p>
        <p>GKAPI Backstage Management System</p>
    </div>
    <div class="picture-box">
        <div class="top">
            <div class="title">设备号 <span>001a</span></div>
        </div>
        <div class="picture-block">
            <div class="left">
                <div class="title">室内图像</div>
                <div class="picture picture-left">
                    <img src="" alt="室内图像">
                </div>
                <div class="bottom">
                    <a class="reload" href="javascript:void(0)">点击刷新</a>
                </div>
            </div>
            <div class="right">
                <div class="title">入门图像</div>
                <div class="picture picture-right">
                    <img src="" alt="入门图像">
                </div>
                <div class="bottom">
                    <a class="record-list" href="/record">查看入门记录</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>