<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GKAPI-登录</title>
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/login.js"></script>
</head>
<body>
    <div class="logo">
        <p>GKAPI 后台管理系统</p>
        <p>GKAPI Backstage Management System</p>
    </div>
    <div class="flip">
        <div class="flip-box">
            <div class="login-block flip-item flip-item-front">
                <table>
                    <tr>
                        <td class="login-title" colspan="3">后台登录</td>
                    </tr>
                    <tr class="login-username">
                        <td width="20%">学&nbsp;&nbsp;号：</td>
                        <td colspan="2">
                            <input type="text">
                        </td>
                    </tr>
                    <tr class="login-password">
                        <td width="20%">密&nbsp;&nbsp;码：</td>
                        <td colspan="2">
                            <input type="password">
                        </td>
                    </tr>
                    <tr class="remember">
                        <td width="20%">7日免登</td>
                        <td colspan="2">
                            <input type="checkbox">
                        </td>
                    </tr>
                    <tr class="login-tip">
                        <td colspan="2">
                            <a class="signin" href="javascript:void(0)">我要注册</a> | 
                            <a class="forget" href="javascript:void(0)">忘记密码？</a>
                        </td>
                        <td>
                            <a class="login-btn" href="javascript:void(0)">登录</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="sign-block flip-item flip-item-back">
                <table>
                    <tr>
                        <td class="sign-title" colspan="4">注册</td>
                    </tr>
                    <tr class="sign-schoolNo">
                        <td width="20%">学&nbsp;&nbsp;号：</td>
                        <td colspan="2">
                            <input type="text"> *
                        </td>
                        <td rowspan="5" style="vertical-align:text-bottom;">
                            <label class="imgUpload">
                                <input type="file" style="display:none">
                                <span>
                                    +
                                    <p style="font-size: 10px;line-height: 200%;">(个人头像)*<br>小于60k</p>
                                </span>
                            </label>
                        </td>
                    </tr>
                    <tr class="sign-password">
                        <td width="20%">密&nbsp;&nbsp;码：</td>
                        <td colspan="2">
                            <input type="password"> *
                        </td>
                    </tr>
                    <tr class="sign-name">
                        <td width="20%">姓&nbsp;&nbsp;名：</td>
                        <td colspan="2">
                            <input type="text"> *
                        </td>
                    </tr>
                    <tr class="sign-sex">
                        <td width="20%">性&nbsp;&nbsp;别：</td>
                        <td colspan="2">
                            <select>
                                <option value ="0">男</option>
                                <option value ="1">女</option>
                            </select> *
                        </td>
                    </tr>
                    <tr class="sign-card">
                        <td width="20%">校园卡：</td>
                        <td colspan="2">
                            <input type="text"> *
                        </td>
                    </tr>
                    <tr class="sign-tip">
                        <td colspan="3">
                            <a class="login" href="javascript:void(0)">返回登录</a> | <input type="checkbox" name="approve" class="approve"> 同意<a class="protocal" href="javascript:void(0)">《GKAPI协议》</a>
                        </td>
                        <td>
                            <a class="sign-btn" href="javascript:void(0)">注册</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>