body {
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


.logo {
    padding: 30px;
    width: 100%;
    color: white;
    position: fixed;
}
.logo p{
    margin: 0;
}
.logo p:first-child{
    font-size: 30px;
    font-weight: 500;
}
.logo p:last-child{
    font-size: 15px;
    font-weight: 500;
}


.flip {
    position: absolute;
    top: calc(45% - 180px);
    left: calc(50% - 250px);
    text-align: center;
    transform:translate3d(0,0,0);
}
.flip-box {
    margin: 0 auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.flip-item {
    position:absolute;
    left:0;
    top:0;
    transition:all .7s ease-in-out;
    transform-style:preserve-3d;
    backface-visibility:hidden;
    box-sizing: border-box;
}
.flip-item-front {
    transform:rotateY(0deg);
    z-index:2;
}
.flip-item-back {
    transform:rotateY(180deg);
    z-index:1;
}

.login-block,.sign-block {
    width: 500px;
}

.login-block .login-title {
    font-size: 26px;
    color: white;
    margin-bottom: 10px;
}
.login-block {
    padding: 40px;
    background:rgba(255,255,255,0.2);
}
.login-block>div {
    width: 80%;
    margin: 0 auto;
    font-size: 0;
}
.login-block .left {
    padding: 10px 0;
    width: 20%;
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
}
.login-block .right {
    padding: 9px 0;
    width: 80%;
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
}
.login-block .login-tip .left {
    padding: 0;
    width: 80%;
    text-align: left;
}
.login-block .login-tip .right {
    padding: 0;
    width: 20%;
    text-align: right;
}
.login-username input,.login-password input {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
}
.login-username,.login-password,.remember {
    padding: 0;
    text-align: left;
    color: white;
}
.login-tip {
    color: white;
}
.login-tip a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}


.sign-block {
    padding: 20px;
    background:rgba(255,255,255,0.2);
    font-size: 0;
}
.sign-block .sign-title {
    font-size: 26px;
    color: white;
    margin-bottom: 10px;
}
.sign-block>.left {
    width: 80%;
    display: inline-block;
}
.sign-block>.right {
    width: 20%;
    display: inline-block;
    font-size: 14px;
    color: white;
    vertical-align: top;
}
.sign-block>.left .left {
    width: 20%;
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
}
.sign-block>.left .right {
    width: 80%;
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
}
.sign-schoolNo,.sign-password,.sign-name,.sign-sex,.sign-card {
    padding: 10px 0;
    text-align: left;
    color: white;
}
.sign-schoolNo {
    padding-top: 0;
}
.sign-tip {
    padding-top: 10px;
    font-size: 0;
    color: white;
}
.sign-tip .left {
    width: 80%;
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
    text-align: left;
}
.sign-tip .right {
    width: 20%;
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
    text-align: right;
}
.sign-tip a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.sign-schoolNo input,.sign-password input,.sign-name input,.sign-card input {
    width: 90%;
    height: 35px;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
}
.login-tip td:first-child,.sign-tip td:first-child{
    width: 80%;
    text-align: left;
}
.login-tip td:last-child,.sign-tip td:last-child{
    width: 20%;
    text-align: right;
}
.login-btn {
    padding: 6px 15px;
    background-color: red;
    border-radius: 5px;
}
.sign-block .imgUpload {
    min-width: 60px;
    max-width: 90px;
    height: auto;
    min-height: 60px;
    max-height: 120px;
    line-height: 1;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    cursor: pointer;
}
.sign-block .imgUpload span {
    margin: 0 auto;
    margin-top: 20%;
    font-size: 50px;
    line-height: 80%;
    display: block;
}
.sign-block .imgUpload img {
    height: 100%;
    width: 100%;
}
.sign-block .protocal {
    color: #2196f3;
}
.sign-btn {
    padding: 6px 15px;
    background-color: #2196f3;
    border-radius: 5px;
}