<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GKAPI-用户中心</title>
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/user.css">
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/user.js"></script>
</head>
<body>
    <div class="logo">
        <p>GKAPI 后台管理系统</p>
        <p>GKAPI Backstage Management System</p>
    </div>
    <div class="user-box">
        <div class="user-block-left">
            <div class="user-img">
                <div class="userImg-cover">
                    <img src="static/img/user-default.png" alt="user-default">
                </div>
            </div>
            <div class="user-lastTime">
                上次登录：<span class="right">2018-04-06 15:00</span>
            </div>
            <div class="user-completion">
                资料完整：<span class="right">
                    <span class="bar">
                        <span class="bar-line"></span>
                    </span>
                    <span class="completion">100</span>%
                </span>
            </div>
            <div class="user-times">
                登录次数：<span class="right">333</span>
            </div>
            <div class="user-status">
                用户状态：<span class="right">已认证</span>
            </div>
            <div class="loginout-btn">
                <a href="javascript:void(0)">安全退出</a>
            </div>
        </div>
        <div class="user-block-right">
            <div class="user-info">
                <div class="user-title">个人资料</div>
                <div class="user-img left">
                    <span>头像：</span>
                    <span><img src="static/img/user-default.png" alt="user-default"></span>
                </div>
                <div class="user-id left">
                    <span>ID：</span>
                    <span>1234567890</span>
                </div>
                <div class="user-regNum left">
                    <span>注册序号：</span>
                    <span>999</span>
                </div>
                <div class="user-regTime left">
                    <span>注册时间：</span>
                    <span>2018-04-06 15:00</span>
                </div>
                <div class="user-no left">
                    <span>学号：</span>
                    <span>1234567890</span>
                </div>
                <div class="user-name left">
                    <span>姓名：</span>
                    <span>周某某</span>
                </div>
                <div class="user-sex left">
                    <span>性别：</span>
                    <span>男</span>
                </div>
                <div class="user-card left">
                    <span>校园卡号：</span>
                    <span>622821000000000000</span>
                </div>
                <div class="user-major left">
                    <span>专业：</span>
                    <span><input type="text" placeholder="请输入专业名！" disabled></span>
                </div>
                <div class="user-identity left">
                    <span>职位：</span>
                    <span><input type="text" placeholder="请输入专业名称！" disabled></span>
                </div>
                <div class="user-department left">
                    <span>部门：</span>
                    <span><input type="text" placeholder="请输入部门名称！" disabled></span>
                </div>
                <div class="user-password-old left">
                    <span>原始密码：</span>
                    <span><input type="password" placeholder="请输入原始密码！" value></span>
                </div>
                <div class="user-password-new left">
                    <span>修改密码：</span>
                    <span><input type="password" placeholder="请输入新密码！" value></span>
                </div>
                <div class="bottom">
                    <a class="revise-btn" href="javascript:void(0)">点击修改</a>
                    <a class="save-btn" href="javascript:void(0)">点击保存</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>